@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body,#root{
  height:100%;
  width:100%;
}

/* Background of the app */
body{
  background:#f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}